<h1>Sign Up</h1>
<%= form_with scope: :users,url:"/users",method: :post,local:true do |f| %>
    <p>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </p>
    <p>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </p>
    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.file_field :avatar %>
    </p>
    <p>
        <%= f.submit "Sign Up" %>
    </p>
<% end %>